<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:i&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2f0284777.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
    <title>Document</title>
</head>
<body>
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger container" role="alert" id="alerte">
                <%= error %>
            </div>
        <% } %>
        
            <% if(success && success.length>0){ %>
                <div class="alert alert-success container" role="alert" id="alerts">
                        <%= success %>
                </div>    
            <% } %>