#mainc
{
    z-index: 1;
    text-align: center;
    position: relative;
    margin-top: 200px;
    color: rgb(110, 255, 231);
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Gayathri', sans-serif;
    font-weight: 100;
    text-shadow: 5px 5px 8px black;
    background-color: rgba(255, 0, 89,0.4);
}
body
{
    background-color: black;
}

.slideshow
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
}

.slideshow li
{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    animation: imageanime 30s linear infinite;
    position: absolute;
}

.slideshow li:nth-child(1)
{
    background-image: url('/Images/bg6.jpg');
}
.slideshow li:nth-child(2)
{
    background-image: url('/Images/bg5.jpg');
    animation-delay: 5s;
}
.slideshow li:nth-child(3)
{
    background-image: url('/Images/bg4.jpg');
    animation-delay: 10s;
}
.slideshow li:nth-child(4)
{
    background-image: url('/Images/bg3.jpg');
    animation-delay: 15s;
}
.slideshow li:nth-child(5)
{
    background-image: url('/Images/bg2.jpg');
    animation-delay: 20s;
}
.slideshow li:nth-child(6)
{
    background-image: url('/Images/bg1.jpg');
    animation-delay: 25s;
}
@keyframes imageanime
{
    0%
    {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10%
    {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20%
    {
        opacity: 1;
    }
    30%
    {
        opacity: 0;
    }
}
a:hover
{
    color: yellow;
}

.btn
{
    background-color: black;
    color: white;
}
.btn:hover
{
    background-color: white;
    color: black;
    font-weight: 400;
    transition: 70ms all;
}