#alerte,#alerts
{
    margin-top: 10px;
}
#mainnavbar
{
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    color: white;
}
a,a:hover 
{ 
    color: inherit; 
}   
#btncontainer
{
    padding-top: 20px;
    padding-bottom: 30px;
}
#nav
{
    background-color: black;
    height: 3500px;
    width: 100%;
    color: white;
}
#mainrow
{
    height: 100%;
}
.title
{
    color: rgb(255, 252, 53);
    text-align: center;
    font-size: 105px;
    padding: 10px;
    padding-top: 150px;
    font-family: 'Big Shoulders Display', cursive;

}
.auth
{
    text-align: center;
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    font-style: italic;
}
#othercol
{
    background-color: #dbdbdb;
}
#mainimg
{
    width: 600px;
    margin: 100px;
    margin-left: 160px;
    align-items: center;
    box-shadow: 2px 2px 15px black;
    border-radius:10px;
    

}


#textcont
{
    margin-bottom: 80px;
    margin-top: 80px;
    width: 900px;
}

#desc
{
    margin-top: 0px;
    width: 850px;
    margin-left: 40px;
    background-color: rgba(251, 219, 253, 0.5);
    /* box-shadow: 2px 2px 4px #232323; */
    
}

#content
{
    line-height: 32px;
    font-size: 15px;
    font-family: 'Hepta Slab', serif;
    font-weight: 500;

}
#header
{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #e06565;
    text-shadow: 1px 1px 1px black;
}

#commhead
{
    text-align: center;
    margin-top: 170px;
    font-family: 'Big Shoulders Display', cursive;

}
.sexy_line { 
    margin: 15px 100px;
    height: 0.9px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(184, 184, 184)), to(rgb(184, 184, 184)), color-stop(50%, rgb(255, 58, 58)));
}
#feedcontainer
{
    margin-left: 140px;
    background-color: rgba(253, 255, 215, 0.5);
    margin-top: 30px;
}

.comments
{
    margin-top: 50px;
}
#feed
{
    margin-left: 50px;
}
#eachcomm
{
    padding: 20px;
}
#hr
{
    border: 0.4px solid black;
    width: 700px;
    margin-left: 0px;
    margin-top: 0px;
}

.sexy_line2 { 
    margin: 15px 50px;
    height: 0.9px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(184, 184, 184)), to(rgb(184, 184, 184)), color-stop(50%, rgb(0, 0, 0)));
}

#username
{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 24px;
    color: rgb(199, 54, 102);
}
#js
{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;  
}
#date
{
    color: darkblue;
    margin-left: 240px;
}

#maint
{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: rgba(63, 2, 12, 0.781);
}
#icon,#like
{
    font-size:20px;
    color: red;
}

#commbtn
{
    text-align: center;
    margin-left: 310px;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px black;
}

#commbtn:hover
{
    background-color: white;
    color:black;
}

#backbtn
{
    font-size: 35px;
    text-decoration: none;
    /* padding-top: 20px; */
    margin-top: 10px;
    /* margin-left: 70px; */
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
}
#backbtn:hover
{
    color: white;
    transition: 300ms all;
    font-size: 38px;
}

#tags
{
    margin-top: 20px;
}
